
<div class="container-fluid">
	<div class="row">
    <div class="col-lg-10">

	<div class="jumbotron"> 
		  
		<label for=“name"> <font face="arial" size="5" color="green"> A continuacion se encuentra el listado de tus couches  </font> </label> 	
		<p>

		</p>  
  	
  		<table class="table">
            
             <tr>
 				
				<th> <label for=“name"> <font face="arial" size="4" color="green">  Nombre del couch </font> </label> </th>  

				<th> <label for=“name"> <font face="arial" size="4" color="green">  Descripcion de mi couch </font> </label> </th> 

				<th> <label for=“name"> <font face="arial" size="4" color="green">  Capacidad del couch </font> </label> </th> 
			</tr>	

  			<% @couches.each do |couch| %>

  			<tr>
 			      <td>  <label for=“localidad"> <font face="arial" size="3" color="black"> <%= couch.name %> </font> </label></td>

 			      <td>  <label for=“localidad"> <font face="arial" size="3" color="black"> <%= couch.description %> </font> </label></td>

 			      <td>  <label for=“localidad"> <font face="arial" size="3" color="black"> <%= couch.capacidad %> </font> </label></td>

                 <td> <label for=“name"> <font face="arial" size="3" color="black">  <%= link_to "Editar",edit_couch_path(couch) %> </font> </label></td>


 			      <td> <label for=“name"> <font face="arial" size="3" color="black"> <%= link_to "Eliminar", couch_path(couch), method: :delete, data: { confirm: 'Esta seguro de eliminar la categoría?' } %>  			</tr>
     <% end %>
		</table>

		<p>
			<a class="btn btn-primary btn-lg" href="/welcome/index" role=“button"> Volver </a>
		</p> 


	</div>
	
</div>
